{% extends '@SeriusAdmin/base.html.twig' %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% stylesheets
		'@SeriusAdminBundle/Resources/public/less/main.less'
		'@SeriusAdminBundle/Resources/public/vendor/jquery-ui/themes/base/jquery-ui.min.css'
		'bundles/seriusadmin/vendor/fontawesome/css/font-awesome.min.css'
        filter='less,cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

	<script type="text/javascript" src="{{ asset('bundles/seriusadmin/vendor/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/seriusadmin/vendor/jquery-ui/jquery-ui.js') }}"></script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% block title %}Serius CMS{% endblock %}

{% block body %}
    <header>
        <div class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                <!-- Menu button for smallar screens -->
                <div class="navbar-header">
                    <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"><span>Menu</span></button>
                    <a href="#" class="pull-left menu-button hidden-xs"><i class="fa fa-bars"></i></a>
                    <!-- Site name for smallar screens -->
                    <a href="{{ path('serius_admin_dashboard_index') }}" class="navbar-brand">
						<span class="bold">Serius</span> CMS
					</a>
                </div>

                <!-- Navigation starts -->
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation"></nav>
            </div>
        </div>
    </header>

    <div class="content">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">Navigation</a></div>
            <!-- Search form -->
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Zoeken">
                    <button class="btn search-button" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
            {{ knp_menu_render('serius_admin_main', {'template': '@SeriusAdmin/Menu/knp_menu.html.twig', currentClass: 'open active', ancestorClass: 'open active'} ) }}
        </div>
        <!-- Sidebar ends -->

        <div class="main">
            <div class="page-head">
				<div class="container">
					<h2 class="pull-left">
						{% block page_title %}Dashboard{% endblock %}
					</h2>
					<div class="pull-right">
						<div class="actions">
							{% block actions %}{% endblock %}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				{% block breadcrumb %}{% endblock %}
            </div>


			<div class="container">
				{% block content %}{% endblock %}
			</div>
        </div>

        <div class="clearfix"></div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright info -->
                    <p class="copy">Copyright &copy; {{ 'now' | date('Y') }} | <a href="http://www.luijkwebcreations.nl/">Luijk Web Creations</a> </p>
                </div>
            </div>
        </div>
    </footer>

    <span class="to-top"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
{% endblock %}

{% block javascripts %}
	{% javascripts
		'bundles/seriusadmin/vendor/bootstrap/dist/js/bootstrap.js'
		'bundles/seriusadmin/vendor/modernizr/modernizr.js'
		'bundles/seriusadmin/vendor/slimScroll/jquery.slimscroll.js'
        'bundles/seriusadmin/js/main.js'
	 %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}